/*html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}*/

body {
	text-align: center;
	background-color: darkgray;
	font-size: 20px;
}

#calcBox {
	margin-top: 50px;
}

#calculatorBody {
	background-color: white;
	border-radius: 15px;
}

#fullDisplay {
	padding: 10px;
}

#historyDisplay {
	background-color: lightgray;
	min-height: 300px;
	border-radius: 15px;
	font-size: 15px;
}

#currentDisplay {
	background-color: lightgray;
	margin: 5px;
	min-height: 30px;
	border-radius: 10px;
	font-size: 30px;
}

.btn {
	font-size: 20px;
}

.numButton, .operatorButton, .actionButton {
	border-radius: 5px;
	margin-bottom: 5px;
}

.numRow:first-child, .operatorRow:first-child {
	margin-top: 30px;
}

.actionButton {
	margin-top: 30px;
}
